{
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-unused-expressions": 0,
    "padded-blocks": 0,
    "max-len": 0,
    "no-tabs": 0,
    "indent": 0,
    "no-new-object": 0,
    "no-console": 1
  }
}